@font-face {
    font-family: "Modern tetris";
    src: url("../../assets/fonts/modern-tetris.ttf") format("truetype");
}

body {
    margin: 0;
    font-size: 10px;
    color: black;
}

body div.container {
    background-color: #242424;
    text-align: center;
    min-height: 100vh;
}

body div.container div#game {
    border: 4px solid #5798e8;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body div.timer {
    width: 25%;
    text-align: center;
    font-family: "Modern tetris", monospace;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3em;
    color: #5798e8;
}

body div.hud {
    font-family: "Modern tetris", monospace;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -75%);
    left: 50%;
    font-size: 15em;
    color: #5798e8;
}
